.a{
  height: 700px ;
  width: 800px;
  background-color: rgba(128, 128, 128, 0.342);
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
}
.a1{
  height: 325px ;
  width: 800px;
}
.a2{
  height: 325px ;
  width: 800px;
}
.b{
  height: 325px ;
  width: 400px;
}
.c{
  height: 325px ;
  width: 400px;
  float: right;
  margin-top: -325px;
}
.b1{
  height: 325px;
  width: 350px;
  background-color: white;
  margin-top: 10px;
 
 }
.c1{
  height: 325px;
  width: 350px;
  background-color: white;
 
  
 }
 .m1{
   height:70px ;
   width: 70px;
   border-radius: 10px;
   margin-right:200px;
   margin-top: -70px;
 }
 .m2{
   margin-right: 210px;
   margin-top:-3px;
   height: 200px ;
 }
 .d1{
   margin-top: -180px;
   margin-right: 20px;
 }
 .e1{
   color: gray;
   margin-top: -10px;
 }
 .d2{
   margin-top: -5px;
   margin-right: 20px;
 }
 .e2{
   color: gray;
   margin-top: -10px;
 }
 .d3{
   margin-top: -5px;
   margin-right: 20px;
 }
 .e3{
   color: gray;
   margin-top: -10px;
 }
 h2{
    margin-left:20px;
    margin-top: 20px;
 }
 .p1{
   margin-top: -15px;
   color: gray;
 }
 .q{
   margin-left: 250px;
   margin-top: -40px;
   color: gray;
 }